<div>
  <div class="fa-3x" *ngIf="isLoadingResults">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  <div class="btn-group" role="group">
    <a color="btn btn-primary" [routerLink]="['/product']">
      List
    </a>
  </div>
  <div>
    <form
      [formGroup]="productForm"
      (ngSubmit)="onFormSubmit(productForm.value)"
    >
      <div class="form-group">
        <input
          matInput
          placeholder="Product Name"
          formControlName="productName"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            !productForm.get('productName').valid &&
            productForm.get('productName').touched
          "
        >
          Please enter Product Name
        </div>
      </div>
      <div class="form-group">
        <input
          matInput
          placeholder="Product Desc"
          formControlName="productDesc"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            !productForm.get('productDesc').valid &&
            productForm.get('productDesc').touched
          "
        >
          Please enter Product Description
        </div>
      </div>
      <div class="form-group">
        <input
          matInput
          placeholder="Product Price"
          formControlName="productPrice"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            !productForm.get('productPrice').valid &&
            productForm.get('productPrice').touched
          "
        >
          Please enter Product Price
        </div>
      </div>
      <div class="button-row">
        <button
          type="submit"
          [disabled]="!productForm.valid"
          class="btn btn-primary"
        >
          <i class="fas fa-save">save</i>
        </button>
      </div>
    </form>
  </div>
</div>
