<div>
  <div class="fa-3x" *ngIf="isLoadingResults">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  <div class="btn-group" role="group">
    <a color="btn btn-primary" [routerLink]="['/product']">
      List
    </a>
  </div>
  <div>
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
      <div class="form-group">
        <input matInput placeholder="Product Name" formControlName="prod_name">
        <div class="alert alert-danger" role="alert"
          *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product
          Name</div>
      </div>
      <div class="form-group">
        <input matInput placeholder="Product Desc" formControlName="prod_desc">
        <div class="alert alert-danger" role="alert"
          *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product
          Description </div>
      </div>
      <div class="form-group">
        <input matInput placeholder="Product Price" formControlName="prod_price">
        <div class="alert alert-danger" role="alert"
          *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter
          Product Price </div>
      </div>
      <div class="button-row">
        <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">
          <i class="fas fa-save">save</i>
        </button>
      </div>
    </form>
  </div>
</div>
