<h1>Dashboard {{ title }}</h1>
<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/user" routerLinkActive="active">List user</a></li>
    <li><a routerLink="/product" routerLinkActive="active">List product</a></li>
    <li><a routerLink="/chat" routerLinkActive="active">Chat WebSockets</a></li>
  </ul>
</nav>
<i class="fas fa-user-circle fa-fw"></i>
<i class="fab fa-facebook"></i>
<i class="fab fa-facebook-f"></i>

<router-outlet></router-outlet>
